:root {
  --landing-background: #fff
  --background: #fff;
  --text-primary: #121314;
  --text-secondary: #0075ff;
  --accent: #0075ff;
  --sub-secondary: #0d0a0a;
  --prices: #d8d8d8;
  --testimonial: #fff;
  --welcome-para: #292d32;
  --button-text:#D9D9D9;
  --input-area: #d9d9d9;
  --sign-in-btn: #fff;
  --btn-text-color: #d9d9d9;
  --label-text-color: #292D32;
}

[data-theme="dark"] {
  --landing-background: #1b1b1b;
  --background: #121212;
  --text-primary: #d8d8d8;
  --text-secondary: #0867d7;
  --accent: #0867d7;
  --sub-secondary: #d8d8d8;
  --prices: #36383a;
  --testimonial: #333;
  --welcome-para:#F3F3F3;
  --button-text: #fff;
  --input-area: #fff;
  --sign-in-btn:#fff;
  --btn-text-color: #fff;
  --label-text-color: #F3F3F3;
}

.landing {
  background: var(--landing-background);
  display: flex;
  height: 100vh;
}

.landing .navbar {
  width: 20%;
  position: fixed;
}
.landing-content {
 
  padding-top: 70px;
  margin-left: 40%;
  display: flex;
  width: 42%;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 6.65px;
  width: 100%;
}
.welcome p {
  color: var(--welcome-para);
  font-family: Work Sans;
  font-size: 19.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome .wave {
  display: flex;
  flex-direction: row;
}

.welcome .wave h1 {
  color: var(--welcome-para);
  font-family: Work Sans;
  font-size: 38.44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.landing-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.landing-content form input {
  display: flex;
  padding: 19px 450px 19px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--button-text);
  width: 100%;
  cursor: pointer;
}
.landing-content form input::placeholder {
  color: #191919;
  font-family: Work Sans;
  font-size: 16.817px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.agreement-policy {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}
form .input-label input {
  width: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--button-text);
  cursor: pointer;
}
.landing-content .btns {
  display: flex;
  flex-direction: column;
  gap: 10.04px;
  width: 100%;
}

.landing-content .btns button {
  padding: 10px;
  border-radius: 4px;
  background: #004bb0;
  border: none;
  color: var(--btn-text-color);
  text-align: center;
  font-family: Work Sans;
  font-size: 18.019px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  width: 100%;
}

.landing-content .btns .start {
  color: var(--btn-text-color);
  background: #004bb0;
}

.landing-content .btns .sign {
  border-radius: 4px;
  border: 1px solid #004bb0;
  color: #004bb0;
  background: #fff;
}

.input-label label {
  color: #292d32;
  font-family: Work Sans;
  font-size: 15.616px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-label label span {
  color: #004bb0;
  font-family: Work Sans;
  font-size: 14.415px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.landing-content .btns span {
  align-self: center;
  /* padding-top: 20px; */
}

.landing-content a {
  text-decoration: none;
  width: 100%;
}

.landing-content button.google {
  display: flex;
  flex-direction: row;
  gap: 10.36px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: none;
  color: #002979;
  font-family: Poppins;
  font-size: 16.383px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .landing .navbar {
    display: none;
  }

  .landing .mobile-nav {
    position: relative;
    display: flex;
    background: #004bb0;
    height: auto;
  }
  .mobile-nav .swift {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .landing .mobile-nav .nav {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-nav .logo-name {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  .mobile-nav .logo-name .main-image {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .mobile-nav .logo-name .name h1 {
    color: #f3f3f3;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .mobile-nav .logo-name span {
    color: #f3f3f3;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .landing-content {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 0px;
    margin-top: 10px;
    margin: 0px auto;
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    gap: 6.65px;
    width: 100%;
  }
  .welcome p {
    color: #292d32;
    font-family: Work Sans;
    font-size: 19.22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .welcome .wave {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .welcome .wave h1 {
    color: #292d32;
    font-family: Work Sans;
    font-size: 28.44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .landing .landing-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .landing .landing-content form p {
    display: flex;
    align-self: flex-start;
    color: #292d32;
    font-family: Work Sans;
    font-size: 16.817px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .landing .landing-content form input {
    display: flex;
    padding: 10px 0px 10px 0px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #d9d9d9;
    width: 100%;
    cursor: pointer;
  }

  .landing .landing-content form input::placeholder {
    padding: 5px;
    color: #191919;
    font-family: Work Sans;
    font-size: 16.817px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* width: 100%; */
  }

  .landing .agreement-policy {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  .landing .input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .landing form .input-label input {
    width: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #d9d9d9;
    cursor: pointer;
  }

  .landing .landing-content .btns {
    display: flex;
    flex-direction: column;
    gap: 10.04px;
    width: 100%;
  }

  .landing .landing-content .btns button {
    padding: 10px;
    border-radius: 4px;
    background: #004bb0;
    border: none;
    color: #d9d9d9;
    text-align: center;
    font-family: Work Sans;
    font-size: 8.019px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    width: 100%;
  }

  .landing .landing-content .btns .start {
    color: #d9d9d9;
    background: #004bb0;
  }

  .landing .landing-content .btns .sign {
    border-radius: 4px;
    border: 1px solid #004bb0;
    color: #004bb0;
    background: #fff;
  }

  .landing .input-label label {
    color: #292d32;
    font-family: Work Sans;
    font-size: 9.616px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .landing .input-label label span {
    color: #004bb0;
    font-family: Work Sans;
    font-size: 7.415px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .landing .landing-content .btns span {
    align-self: center;
    /* padding-top: 20px; */
  }

  .landing .landing-content a {
    text-decoration: none;
    width: 100%;
  }

  .landing .landing-content button.google {
    display: flex;
    flex-direction: row;
    gap: 10.36px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border: none;
    color: #002979;
    font-family: Poppins;
    font-size: 10.383px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    cursor: pointer;
  }
}
