.signin {
  display: flex;
  height: 100vh;
}

.signin .navigation {
  width: 20%;
  position: fixed;
}
.signin .landing-content {
  padding-top: 70px;
  margin-left: 40%;
  display: flex;
  width: 42%;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.signin .welcome {
  display: flex;
  flex-direction: column;
  gap: 6.65px;
  width: 100%;
}
.signin .welcome p {
  color: #292d32;
  font-family: Work Sans;
  font-size: 19.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome .wave {
  display: flex;
  flex-direction: row;
}

.welcome.wave h1 {
  color: #292d32;
  font-family: Work Sans;
  font-size: 38.44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.landing-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.landing-content form input {
  display: flex;
  padding: 19px 450px 19px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #d9d9d9;
  width: 100%;
  cursor: pointer;
}
.landing-content form input::placeholder {
  color: #191919;
  font-family: Work Sans;
  font-size: 16.817px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}
form .input-label input {
  width: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #d9d9d9;
  cursor: pointer;
}
.landing-content .btns {
  display: flex;
  flex-direction: column;
  gap: 10.04px;
  width: 100%;
}

.landing-content .btns button {
  padding: 10px;
  border-radius: 4px;
  background: #004bb0;
  border: none;
  color: #d9d9d9;
  text-align: center;
  font-family: Work Sans;
  font-size: 18.019px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  width: 100%;
}

.landing-content .btns .start {
  color: #d9d9d9;
  background: #004bb0;
}

.landing-content .btns .sign {
  border-radius: 4px;
  border: 1px solid #004bb0;
  color: #004bb0;
  background: #fff;
}

.input-label label {
  color: #292d32;
  font-family: Work Sans;
  font-size: 15.616px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-label label span {
  color: #004bb0;
  font-family: Work Sans;
  font-size: 14.415px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.landing-content .btns span {
  align-self: center;
  /* padding-top: 20px; */
}

.landing-content a {
  text-decoration: none;
  width: 100%;
}

.landing-content button.google {
  display: flex;
  flex-direction: row;
  gap: 10.36px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: none;
  color: #002979;
  font-family: Poppins;
  font-size: 16.383px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  cursor: pointer;
}
